* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);

  --manrope: "manrope", sans-serif;
  --text-lg: 700 1.5em/150% var(--manrope);
  --text-md: 700 1.4em/150% var(--manrope);
  --text-parag: 400 1.3em/150% var(--manrope);
  --text: 400 1.2em/120% var(--manrope);
  --text-footer: 400 1.2em/150% var(--manrope);
}